<div class="outer">
    <div class="display"  [style.transform]="transform">
        <app-split-flap-row [row_len]="18" [flapLayout]="'15n 2s'" [normalCharOptions]="normalCharOptions" [superscriptCharOptions]="superscriptCharOptions"></app-split-flap-row>
        <app-split-flap-row [row_len]="18" [flapLayout]="'15n 2s'" [normalCharOptions]="normalCharOptions" [superscriptCharOptions]="superscriptCharOptions"></app-split-flap-row>
        <app-split-flap-row [row_len]="18" [flapLayout]="'15n 2s'" [normalCharOptions]="normalCharOptions" [superscriptCharOptions]="superscriptCharOptions"></app-split-flap-row>
        <app-split-flap-row [row_len]="18" [flapLayout]="'15n 2s'" [normalCharOptions]="normalCharOptions" [superscriptCharOptions]="superscriptCharOptions"></app-split-flap-row>
        <app-split-flap-row [row_len]="18" [flapLayout]="'15n 2s'" [normalCharOptions]="normalCharOptions" [superscriptCharOptions]="superscriptCharOptions"></app-split-flap-row>
        <app-split-flap-row [row_len]="18" [flapLayout]="'15n 2s'" [normalCharOptions]="normalCharOptions" [superscriptCharOptions]="superscriptCharOptions"></app-split-flap-row>
        <app-split-flap-row [row_len]="18" [flapLayout]="'15n 2s'" [normalCharOptions]="normalCharOptions" [superscriptCharOptions]="superscriptCharOptions"></app-split-flap-row>
    </div>
</div>