<div class="outer">

  <div class="title">
    make the world <br> your own.
  </div>
  <div class="row">
    <div class="options">
      <div class="btn">
          book your flight
      </div> 
      <div class="btn">
          explore destinations
      </div> 
    </div>
    <div class="display">
        <app-split-flap-display></app-split-flap-display>
    </div>
  </div>
</div>

<div class="outer">
  <div class="title second">
    start your <br> journey
  </div>
</div>

<div class="outer">
  <div class="title">
    Fly high <br> like a diamond
  </div>
</div>